@(vms:List[(String,String)])
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>numa08 virtual boxes</title>
	<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
</head>
<body>
	<div class="container">
		<h1>numa08 Virtual Machines</h1>
	</div>
	<table>
		<thead>
			<tr>
				<td>
					名前
				</td>
			</tr>
		</thead>
		<tbody>
			@for(m <- vms){
				<tr>
					<td>
						@m._1
					</td>
					<td>
						@m._2
					</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>