@(machines:List[org.virtualbox_4_2.IMachine])
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>numa08 virtual boxes</title>
	<link rel="stylesheet" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
</head>
<body>
	<div class="container">
		<h1>numa08 Virtual Machines</h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>name</th>
					<th>state</th>
					<th>controll</th>
				</tr>
			</thead>
			<tbody>
				@for(machine <- machines){
					<tr>
						<td>@machine.getName</td>
						<td>@machine.getState.name</td>
						@if(machine.getState==org.virtualbox_4_2.MachineState.PoweredOff){
							<td><button class="btn primary">ON</button></td>
						} else {
							<td><bbutton class="btn btn-danger">OFF</bbutton></td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>
</html>